@charset "utf - 8";

body{
	background-image : url("../images/pexels-ray-piedra-1565982.jpg");
	display : fixed;
	color : black;
	background-size: cover;
	 
}



.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin-left : 400px;
  /*background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 1%, rgba(119,51,201,1) 78%, rgba(190,57,171,1) 95%);*/
  background-color : white;
  border-radius : 8px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.container {
  padding: 5px 16px;
}

.card_image{
	border-ridus : 8px;
	
}

body .txt{
	width : 480px;
	border : none;
	margin : 8px 0;
	padding : 12px 20px;
	box-sizing : border-box;
	border-bottom : 2px solid #32CD32;
	
	
}


body .create{
	width : 200px;
	height : auto;
	padding-bottom : 10px;
	padding-top : 10px;
	border-radius : 5px;
	/*margin-left : 40px;*/
	border : 0px;
	transition : width 1s;
	background-color : 	#32CD32;
	color : white;
}

body  .create:hover {
	width : 250px;
}


