.contacti{
	
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

.cimage{
	
	width:100%;
	height:500px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size:60px;
  transform: translate(-50%, -50%);
}

h1#contact{
	
	margin-top:10px;
	text-align:center;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 2.5em;
}

h2#help{
	
	margin-top:40px;
	margin-left:110px;
	font-style: italic;
	font-size: 2em;
	
	
}
.para1{
	
	margin-top:2px;
	font-size:20px;
	font-weight:bold;
}

.para2{
	
	margin-top:2px;
	font-size:20px;
	font-weight:bold;
	
}
.para3{
	
	font-size:10p;
	color:red;
	font-style: italic;
	font-weight:bold;
}
	
	
.contactData{
	
	
  background:white;
  border:5px;
  border-style: groove;
  border-color: #00008B;
  padding:30px;
  margin-left:100px;
  margin-top:10px;
  width:80%;
  height:270px;
  border-radius:40px;
  display:flex;
  flex-direction:column;
  align-items:center;
  
}

.contact-info{
  
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  
}

.box{
	
  background: white;
  border-style:solid;
  border-color:	#00008B;
  border-radius:40px;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:black;
  cursor: pointer;
  
}

.card-icon{
	
  font-size: 28px;
  background: #FFD700;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.box:hover .card-icon{
  
  background: orange;
  color: black;
  transform: scale(1.6);

}

.box p{
	
	font-weight:bold;
	color: #9ACD32;
}


h2#comment{
	
	margin-top:40px;
	font-style:italic;
	margin-left:110px;
	font-size: 2em;
	
}


.formData{
	
	
  background:white;
  border:5px;
  border-style: groove;
  border-color: #00008B;
  padding:30px;
  margin-left:100px;
  margin-top:10px;
  width:80%;
  height:300px;
  border-radius:40px;
  margin-bottom:20px;
  
} 

input#fname {
	
	height: 40px;
	border-radius:10px;
	border: 2px solid #00008B;
	background-color: white;
	color: purple;
}

input#lname {
	
	height: 40px;
	border-radius:10px;
	border: 2px solid #00008B;
	background-color: white;
	color: purple;
}

input#mobile {
	
	height: 40px;
	border-radius:10px;
	border: 2px solid #00008B;
	background-color: white;
	color: purple;
}

input[type = email] {
	
	height: 40px;
	border-radius:10px;
	border: 2px solid #00008B;
	background-color: white;
	color: purple;
}

textarea#cmnt{
	
	border-radius:10px;
	border: 2px solid #00008B;
	background-color: white;
	color: purple;
	
}


.butn1{
	
	height: 40px;
	width:100px;
	border-radius:10px;
	border: 2px solid black;
	background-color: #008000;
	color: white;
	margin-left:300px;
	
}

.butn1:hover{
	
	background-color:#808000;
}

.column {
  float: left;
  width: 50%;
  margin-bottom:20px;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}